.createPin {
  display: grid;
  justify-items: center;
  align-items: center;
}

.error {
  color: red;
  transition: all 2s ease-in;
}

.content {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  display: grid;
  gap: 2rem 1rem;
}

.upload {
  background-color: #f0f0f0;
  padding: 1rem;
}

.uploadContent {
  border: 2px dotted grey;
  padding: 1rem;
  height: 420px;
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
}

.imgAction {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 3rem;
}

.imgAction div {
  text-align: center;
}

.imgAction div p {
  font-size: 1.2rem;
}

.imgInput {
  width: 0;
  height: 0;
}

.image {
  position: relative;
  height: 100%;
}

.image img {
  width: 100%;
  height: 100%;
}

.image button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  cursor: pointer;
  background-color: #fff;
  border-radius: 100%;
  border: none;
  outline: none;
  padding: 0.8rem;
}

.form {
  display: grid;
  gap: 1rem;
  width: 100%;
}

.form input,
.form select {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid #f0f0f0;
  padding: 0.5rem;
}

.titleInput {
  font-size: 1.5rem;
}

.destInput,
.aboutInput {
  font-size: 1.1rem;
}

.select p {
  font-size: 1.3rem;
}

.form select {
  font-size: 1.1rem;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.userInfo img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.formBtn {
  width: 100%;
  display: grid;
  justify-items: end;
  align-items: center;
}

.formBtn button {
  background-color: red;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.8rem 2rem;
  border-radius: 30px;
  font-size: 1rem;
  opacity: 0.7;
}

.formBtn button:hover {
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .content {
    margin-top: 3rem;
    width: 85%;
    grid-template-columns: 45% 55%;
  }

  .form {
    padding: 0 1rem;
    gap: 0.5rem;
  }
}
